#container {
  margin: 30px;
}

#container div {
  margin-top: 15px;
}

button {
  margin-top: 15px;
}

#netto {
  display: block;
  height: 20px;
  border: 1px solid black;
  width: 100px;
  margin-top: 15px;
}